SECRET_KEY=your-secret-key-here
DEBUG=True
DB_NAME=db_orders
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db_orders
DB_PORT=5432
REDIS_URL=redis://redis:6379/0
USER_SERVICE_URL=http://user_service:8001
